body {
    font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}

a:visited {
    color: #265778;
}

a {
    color: #3b8bba;
    text-decoration: none;
}

#note, #index {
    max-width: 800px;
    width: 95%;
    padding: 10px;
    margin: 0 auto;
}

#index table {
    width: 100%;
}

#solution {
    height: 200px;
}

#rethink {
    height: 130px;
}

#n-submit {
    width: 100%;
}