a:visited {
    color: #265778;
}

a {
    color: #3b8bba;
    text-decoration: none;
}

#note {
    max-width: 800px;
    width: 60%;
    margin: 0 auto;
}

#index {
    max-width: 800px;
    width: 60%;
    margin: 0 auto;
}

#index table {
    width: 100%;
}

#solution {
    height: 200px;
}

#rethink {
    height: 130px;
}

#n-submit {
    width: 100%;
}